<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="com.yunhe.mapper.PVMapper">
	 
	 <!-- 查询所有的pv访问量-->
	<select id="selectAllCount" resultType="java.lang.Integer">
	    select count(*) from tb_pv
	</select>
	 

</mapper>
